<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <PackageGroup Id="Chrominimum">
          <MsiPackage  SourceFile=".\chrominimum\Chrominimum_1.1.0.21_x64_Setup.msi" 
                       DisplayName="Chrominimum package for Safe Exam Browser" 
                       Cache="no"
                       Compressed="yes" 
                       Visible="yes"
                       Permanent="yes"
                       InstallCondition="VersionNT64"
                       DownloadUrl="https://github.com/SafeExamBrowser/Chrominimum/releases/download/1.1.0/Chrominimum_1.1.0.21_x64_Setup.msi">
            </MsiPackage>
          <MsiPackage  SourceFile=".\chrominimum\Chrominimum_1.1.0.21_x86_Setup.msi"
                       DisplayName="Chrominimum package for Safe Exam Browser"
                       Cache="no"
                       Compressed="yes" 
                       Visible="yes"
                       Permanent="yes"
                       InstallCondition="VersionNT64"
                       DownloadUrl="https://github.com/SafeExamBrowser/Chrominimum/releases/download/1.1.0/Chrominimum_1.1.0.21_x86_Setup.msi" >
          </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>
